<div class=container>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h2><%= t(:log_in) %></h2>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "#{t(:sign_in_with)} #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-info', id: 'btn_via_facebook' %><br />
  <% end -%>
<% end -%>
  <div class="field">
    <%- f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, type: "email", class: "form-control", placeholder: t(:email) %>
  </div>

  <div class="field">
    <%- f.label t(:password) %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t(:password) %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t(:remember_me) %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t(:log_in), class: 'btn btn-info' %>
  </div>


<%= render "devise/shared/links" %>
<% end %>
</div>
