<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YAP - Photo Gallery | Chat <%= "#{current_user.name if current_user}" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <%= render '/includes/tracking.js' %>
</head>
<body id="page-top" data-target=".navbar-fixed-top" data-spy="scroll">
      <%= render 'layouts/facebook_sdk' %>
	    <%= render 'layouts/header' %>
	    <%= flash_messages %>
      <% if current_page?(root_path) %>
        <%= yield %>
        <%= render 'layouts/footer' %>
         <% else %>
         <div id="wrapper">
           <%= yield %>
         </div>
      <% end %>
      <%= render 'layouts/google_analytics' %>
</body>
</html>
